@charset "UTF-8";
@import url("/machico/css/header.css");
@import url("/machico/css/calendarHeader.css");
@import url("/machico/css/scheduleRegisterTypeMenu.css");

* {
	box-sizing: border-box;
	margin: 0px;
}

html, body {
	height: 100%;
	background-color: #F3EEEE;
}