@charset "UTF-8";
html,
body {
	background-color: #F3EEEE;
}

/* 左右に余白を付けるよ */
main {
	width: 100%;
	height: 100%;
}

#calendar {
     width: calc(100% - 300px);
     min-height: 100%;
     height: auto;
     margin: 0 auto;
     padding: 75px 0 0 0;
     background-color: #DEB887;
 }
/*フレームの設定*/
#frame{
	margin:110px auto 0 ; /* サイズに合わせて変更してね */
	width: 650px; /* サイズに合わせて変更してね */
	border: 20px solid #8CCCD1;
	background-color: white;
	text-align: center;
	border-radius: 10px;
}
/* テキストのCSS */
.cp_iptxt {
    position: relative;
    width: 80%;
    margin: 40px auto;
    color: #DEB887;
}
.cp_iptxt input[type='text'] {
    font: 30px sans-serif;
    box-sizing: border-box;
    width: 100%;
    padding: 0.3em;
    padding-left: 10px;
    letter-spacing: 1px;
    border: 0;
}
.cp_iptxt input[type='text']:focus {
    outline: none;
}
.cp_iptxt input[type='text']:focus::after {
    outline: none;
}
.cp_iptxt i {
    position: absolute;
    top: 0;
    left: 0;
    padding: 9px 5px;
    transition: 0.3s;
    color: #000000;
}
.cp_iptxt::after {
    display: block;
    width: 100%;
    height: 4px;
    margin-top: -1px;
    content: '';
    border-width: 0 3px 3px 3px;
    border-style: solid;
    border-color: #000000;
}

/* 保存ボタンの見た目 */
input[type="submit"] {
	width: 10%;
	font-size: 20px;
	color: #fff;
	display: inline-block;
	margin-top: 20px;
	margin-left: 430px;
	padding: 10px 0px;
	text-align: center;
	background-color: #7A73DA;
	border: 1px solid #7A73DA;
	border-radius: 10px;
	text-decoration: none;
	cursor: pointer;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
	display: inline-block;
}

/* キャンセルボタンの見た目 */
input[type="button"] {
	width: 10%;
	font-size: 20px;
	color: #7A73DA;
	display: inline-block;
	margin-top: 20px;
	margin-left: 210px;
	padding: 10px 0px;
	text-align: center;
	background-color: #fff;
	border: 1px solid #7A73DA;
	border-radius: 10px;
	text-decoration: none;
	cursor: pointer;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
	display: inline-block;

}