@charset "UTF-8";
html,
body {
	background-color: #F3EEEE;
}

/* 左右に余白を付けるよ */
main {
	width: 100%;
	height: 100%;
}

 /* フレームの中身の要素を横並びにするよ */
.frame_contents{
	display: inline-block;
 }

/* フレームと保存ボタンや戻るボタンを横並びにするよ */
.screen_contents{
	display: inline-block;
}

/* サイト背景 */
#calendar {
     width: calc(100% - 300px);
     min-height: 100%;
     height: auto;
     margin: 0 auto;
     padding: 75px 0 0 0;
     background-color: #DEB887;
 }

 /* フレーム */
#frame{
	margin:40px 40px 0 40px; /* サイズに合わせて変更してね */
	width: 700px; /* サイズに合わせて変更してね */
	border: 20px solid 4472C4;
	background-color: white;
	text-align: center;
	border-radius: 10px;
}

 /* 日付入力欄のテーブルの余白 */
#date_table{
	border-spacing: 20px 10px;
}

/* 日付入力欄のテーブルの余白　終了 */
#date_table_end{
	border-spacing: 20px 10px;
	padding-bottom: 3px;
	padding-top: 10px;  /* この数字を書き換えれば、位置が変えられるよ！！ */
}

/* 終日チェックの設定 */
 #all_day_text{
	font-weight: bold;
	font: 20px;
}

#all_day_check{
	transform:scale(1.4);
}

/* テキストのCSS */
.cp_iptxt {
    position: relative;
    width: 65%;
    margin: 40px auto;
    color: #DEB887;
}
.cp_iptxt input[type='text'] {
    font: 25px sans-serif;
    box-sizing: border-box;
    width: 100%;
    padding: 0.3em;
    padding-left: 10px;
    letter-spacing: 1px;
    border: 0;
}
.cp_iptxt input[type='text']:focus {
    outline: none;
}
.cp_iptxt input[type='text']:focus::after {
    outline: none;
}
.cp_iptxt i {
    position: absolute;
    top: 0;
    left: 0;
    padding: 9px 5px;
    transition: 0.3s;
    color: #000000;
}
.cp_iptxt::after {
    display: block;
    width: 100%;
    height: 4px;
    margin-top: -1px;
    content: '';
    border-width: 0 3px 3px 3px;
    border-style: solid;
    border-color: #000000;
}

/* 日付入力のタグのCSS */
input[type="date"] {
font: 15px sans-serif;
border-radius: 10px;
}

/*時間入力のタグのCSS*/
input[type="time"] {
font: 15px sans-serif;
border-radius: 10px;
}

/* textarea(memo)のCSS */
#memo{font: 20px sans-serif;
resize: none;
width:65%;
height:8em;
 margin: 3% auto;
 background-color: #D9D9D9;
border-radius: 10px;
}

/* ボタンたちの見た目 */
input[type="submit"] {
	width: 100px;
	font-size: 25px sans-serif;
	color: #fff;
	display: inline-block;
	margin-top: 10px 0px;
	padding: 10px 0px;
	text-align: center;
	background-color: #8D87DE;
	border: 1px solid #8D87DE;
	border-radius: 10px;
	text-decoration: none;
	cursor: pointer;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}


/* キャンセルボタンの見た目 　位置が違うので調整する*/
input[type="button"] {
	width: 100px;
	font-size: 25px sans-serif;
	color: #8D87DE;
	display: inline-block;
	padding: 10px 0px;
	text-align: center;
	background-color: #fff;
	border: 3px solid #8D87DE;
	border-radius: 10px;
	text-decoration: none;
	cursor: pointer;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
	margin: 15%;
}