@charset "UTF-8";

/*ロゴの大きさ*/
h1 {
	color: white;
	font-size: 40px;
}

/* 左右に余白を付けるよ */
main {
	width: 100%;
	height: 100%;
}

#calender {
	width: calc(100% - 300px);
	min-height: 100%;
	height: auto;
	margin: 0 auto;
	padding: 75px 0 0 0;
	background-color: #DEB887;
	background-image: url("/machico/img/calendar_background.png");
	background-repeat: no-repeat;
	background-size: 97%;
	background-position: right top;
}

#calendar_day_of_week_container {
	display: flex;
	gap: 5px;
	justify-content: center;
	align-items: center;
	margin-bottom: 5px;
}

.day_of_week_item {
	font-weight: bold;
	width: 120px;
	height: 21px;
	text-align: center;
	color: #FFF;
}

.day_of_week_item.saturday {
	color: #4D43DE;
}

.day_of_week_item.sunday {
	color: #DE2C4A;
}

#calendar_body a {
	text-decoration: none;
	color: #333;
}

#calendar_body {
	display: flex;
	flex-direction: column;
	gap: 5px;
	justify-content: center;
	align-items: center;
}

.calendar_row {
	display: flex;
	gap: 5px;
}

.calendar_item {
	font-weight: bold;
	background-color: #FFF;
	width: 120px;
	height: 70px;
	border-radius: 10px;
	text-align: center;
	position: relative;
}

.calendar_item:not(.is_current_day) {
	color: #686868;
}

.calendar_schedule {
	width: calc(100% - 4px);
	margin: auto;
	margin-bottom: 2px;
	border-radius: 10px;
	color: #FFF;
	font-size: 0.8em;
}

.schedule_type_F {
	background-color: #4472C4;
}

.schedule_type_R {
	background-color: #38E835;
}

.schedule_type_A {
	background-color: #22E0B4;
}

.leftover_count {
	position: absolute;
	right: 0px;
	bottom: 0px;
	background-color: #FFF;
	border-radius: 5px;
	border: solid 1px #AAA;
}