@charset "UTF-8";

/*ロゴの大きさ*/
h1 {
	color: white;
	font-size: 40px;
}

/* 左右に余白を付けるよ */
main {
	width: 100%;
	height: 100%;
}

#calender {
	width: calc(100% - 300px);
	min-height: 100%;
	height: auto;
	margin: 0 auto;
	padding: 75px 0 0 0;
	background-color: #DEB887;
}