@charset "UTF-8";

/* base.cssに書く必須項目 */
* {
	box-sizing: border-box;
	margin: 0px;
}

html, body {
	background-color: #deb887;
	text-align: center;
	font-size: 25px;
	height: 100%;
}

#title_logo {
	padding-bottom: 40px;
	padding-top: 55px;
}

.login_background_img{
	background-image:url(../img/login_background.png);
	background-size:85%;
	object-fit: cover;
	background-position: right top 20%;
	background-repeat: no-repeat;
}
/* base.cssに書く必須項目 ここまで*/
.error_message {
	color: #ff3535;
	height: 1em;
	line-height: 1em;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

/* テーブル */
div #login {
	text-align: center;
}

table {
	padding: auto;
	margin: auto;
}

/* テキストの見た目 */
input[type='text'] {
	font: 25px;
	box-sizing: border-box;
	width: 300px;
	height: 30px;
	padding: 0.3em;
	padding-left: 40px;
	letter-spacing: 1px;
	border: 0;
	border-radius: 10px;
}

input[type='password'] {
	font: 25px;
	box-sizing: border-box;
	width: 300px;
	height: 30px;
	padding: 0.3em;
	padding-left: 40px;
	letter-spacing: 1px;
	border: 0;
	border-radius: 10px;
}

/* ボタンたちの見た目 */
input[type="submit"] {
	width: 80%;
	font-size: 25px;
	color: #fff;
	display: inline-block;
	margin-top: 10px;
	padding: 10px 0px;
	text-align: center;
	background-color: #7A73DA;
	border: 1px solid #7A73DA;
	border-radius: 10px;
	text-decoration: none;
	cursor: pointer;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}


#yellow_button_img {
	filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.3));
}

/* 黄色いボタンに「新規会員作成」の文字を重ねる */
.button_area {
	width:300px;
	left:1000px;
	position: relative;
}

.new_member_text {
	position: absolute;
	font-size: 25px;
	font-weight: bold;
	color: white;
	top: 30%;
	left:15%;
	pointer-events: none;
}